.navbar-nav {
  margin-left: auto;
}

.submit {
  background: transparent linear-gradient(90deg, #9F62C9 0%, #663399 100%) 0% 0% no-repeat padding-box;
  color: white;
  font-size: 16px;
  width: 166px;
  height: 45px;
  box-shadow: 0px 0px 20px #00000033;
}

.login {
  width: 118px;
  height: 45px;
  color: #663399;
  box-shadow: 0px 0px 20px #00000033;
  border: 2px solid #663399;
}

.nav-item {
  letter-spacing: 0px;
  color: #222222;
}

.logo {
  margin-left: 30px;
  height: 10 0px;
}
