.navbar-content {
  min-height: 100vh;
  background: #FCFCFF
}

.block-image,
.form-box {
  position: relative;
  top: 60px;
  border-radius: 20px;
  margin-left: 80px;
}

.block-image img {
  height: 300px;
  width: 100%;
}

.form-box {
  top: 70px;
  height: 500px;
  z-index: 10;
  position: relative;
}

.form-one {
  background: #FCFCFF;
  border-radius: 20px;
  padding: 0;
  margin: 5px;
  border: 1px solid;

}

.form-two {
  height: 340px;
  background: transparent linear-gradient(90deg, #9F62C9 0%, #663399 100%) 0% 0% no-repeat padding-box;
  top: 100px;
  position: relative;
  margin-left: 2px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}


.text-box {
  width: 360px;
  font-size: 34px;
  margin-bottom: 30px;
}

/* #customRange3 {
  background-color: transparent linear-gradient(90deg, #9F62C9 0%, #663399 100%) 0% 0% no-repeat padding-box !important;

} */
.text-inp {
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
}


.form-select {
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;

}

.form-header {
  height: 40px;
  background: #f8f9fa;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 6px;

}

.loan-box label {
  color: #929eaa;
}

.circle-img {
  position: absolute;
  z-index: 5;
  width: 58%;
  height: 1160px;
  right: 0;
  top: -60%;
  overflow: hidden;

}
